.weather-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe5ee;
  padding: 1rem 2rem;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 1rem;
}

.weather-description {
  text-align: left;
}

.weather-units {
  color: #ff7bac;
  font-weight: 700;
}

.temp-today {
  display: flex;
  align-items: center;
  font-size: 60px;
  height: fit-content
}

.temp-today img {
  display: block;
  margin-right: 20px;
}

#temp-today-val {
  font-size: 3rem;
}

#temp-today-unit {
  font-size: 2rem;
}