.city-name {
  display: flex;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin: 0 auto 40px;
}

.corner-top-left {
  width: 20px;
  height: auto;
  display: block;
  margin-bottom: 40px;
}

.corner-bottom-right {
  width: 20px;
  height: auto;
  transform: rotate(180deg);
  display: block;
  margin-top: 40px;
}